---
import Button from '$components/Button';
import Dialog from '$components/Dialog';
import Link from '$components/Link';
import Textbox from '$components/Textbox';
---
<Dialog
  title="Create New User"
  open="userModalOpen"
  onClose="userModalOpen = false"
  className="max-w-md w-full"
>
  <form action="/users" class="mt-6 space-y-5">
    <Textbox
      label="Name"
      name="name"
      placeholder="Enter user's name"
      className="w-full"
    />
    <Textbox
      label="Email"
      name="email"
      type="email"
      placeholder="Enter user's email"
      className="w-full"
    />
    <Textbox
      label="Password"
      name="password"
      type="password"
      placeholder="Enter user's password"
      className="w-full"
    />
    <Textbox
      label="Confirm Password"
      name="password_confirmation"
      type="password"
      placeholder="Enter password confirmation"
      className="w-full"
    />
    <div class="flex items-center justify-between w-full py-4 mt-4 bg-gray-50">
      <Link as="button" type="button" @click="userModalOpen = false" color="danger">Cancel</Link>
      <Button type="submit" color="primary">Create User</Button>
    </div>
  </form>
</Dialog>