---
import Alert from '$components/Alert.astro';
import Button from '$components/Button.astro';
import Dialog from '$components/Dialog.astro';
import Link from '$components/Link.astro';
import Textbox from '$components/Textbox.astro';
---
<Dialog
  title="Create New User"
  open="userModalOpen"
  onClose="userModalOpen = false"
  className="max-w-md w-full"
>
  <form action="/users" class="mt-3 space-y-5">
    <Textbox
      label="Name"
      name="name"
      placeholder="Enter user's name"
      className="w-full"
    />
    <Textbox
      label="Email"
      name="email"
      type="email"
      placeholder="Enter user's email"
      className="w-full"
    />
    <Textbox
      label="Password"
      name="password"
      type="password"
      placeholder="Enter user's password"
      className="w-full"
    />
    <Textbox
      label="Confirm Password"
      name="password_confirmation"
      type="password"
      placeholder="Enter password confirmation"
      className="w-full"
    />
    <Alert color="info">
      The created user will automatically have a role of admin.
    </Alert>
    <div class="flex items-center justify-between px-6 py-4 mt-4 -mx-6 bg-gray-50">
      <Link as="button" type="button" @click="userModalOpen = false" color="danger">Cancel</Link>
      <Button type="submit" color="primary">Create User</Button>
    </div>
  </form>
</Dialog>