---
import AuthLayout from '$layouts/AuthLayout.astro';
import Button from '$components/Button.astro';
import Textbox from '$components/Textbox.astro';
---

<AuthLayout title="Forgot password" background="https://source.unsplash.com/_nWaeTF6qo0" right>
  <div class="mt-8 space-y-1 text-gray-600">
    <p>Forgot your password? No problem.</p>
    <p>Just let us know your email address and we will email you a password reset link that will allow you to choose a new one.</p>
  </div>
  <form action="/auth/login" class="mt-6 space-y-5">
    <Textbox
      label="Email"
      name="email"
      type="email"
      placeholder="Enter your email"
      className="w-full"
    />
    <Button type="submit" color="primary" className="w-full justify-center">Reset Password</Button>
  </form>
</AuthLayout>