---
import AuthLayout from '$layouts/AuthLayout.astro';
import Button from '$components/Button.astro';
import Checkbox from '$components/Checkbox.astro';
import Link from '$components/Link.astro';
import Textbox from '$components/Textbox.astro';
---

<AuthLayout title="Login" background="https://source.unsplash.com/_nWaeTF6qo0">
  <form action="/" class="mt-8 space-y-5">
    <Textbox
      label="Email"
      name="email"
      type="email"
      placeholder="Enter your email"
      className="w-full"
    />
    <Textbox
      label="Password"
      name="password"
      type="password"
      placeholder="Enter your password"
      className="w-full"
    />
    <div class="flex items-center justify-between">
      <Checkbox
        label="Remember me"
        name="remember"
      />
      <Link href="/auth/forgot-password">
        Forgot password?
      </Link>
    </div>
    <Button type="submit" color="primary" className="w-full justify-center">Login</Button>
  </form>
  <p class="mt-8 text-center text-gray-500 md:text-left">
    Not registered yet?
    <Link href="/auth/register">
      Create an account
    </Link>
  </p>
</AuthLayout>