---
import AppLayout from '$layouts/AppLayout.astro';
import BrowserSession from './_components/BrowserSession.astro';
import ProfileInformation from './_components/ProfileInformation.astro';
import UpdatePassword from './_components/UpdatePassword.astro';
---

<AppLayout title="Profile">
  <div class="grid divide-y divide-gray-300 gap-y-8">
    <ProfileInformation />
    <div class="grid max-w-lg gap-8 mx-auto divide-y divide-gray-300">
      <UpdatePassword />
      <BrowserSession />
    </div>
  </div>
</AppLayout>