---
import AppLayout from '$layouts/AppLayout.astro';
import Overview from './home/Overview.astro';
import RecentOrder from './home/RecentOrder.astro';
---

<AppLayout title="Dashboard">
  <div class="space-y-8">
    <Overview />
    <RecentOrder />
  </div>
</AppLayout>
