---
import clsx from 'clsx';

const { title, className, color, ...props } = Astro.props;

const colors = {
  success: 'bg-success-100 text-success-800 border border-success-300',
  danger: 'bg-danger-100 text-danger-800 border border-danger-300',
  warning: 'bg-warning-100 text-warning-800 border border-warning-300',
  info: 'bg-info-100 text-info-800 border border-info-300',
};
---
<div role="alert" {...props} class={clsx('flex items-center px-4 py-3 mt-3 space-x-2 rounded-lg', colors[color], className)}>
  <div>{Boolean(title) && <span class="mr-1 font-medium">{title}</span>}<slot /></div>
</div>