---
import clsx from 'clsx';

const { className, rounded } = Astro.props;
---

<div class={clsx('bg-white border border-gray-300', {'sm:rounded-xl': !rounded, 'rounded-xl': rounded}, className)}>
  <slot />
</div>