---
import clsx from 'clsx';

const { className } = Astro.props;
---

<a class={clsx('font-medium tracking-tight text-gray-700', className)}>
  ruine<span class="font-semibold text-primary-600">.UI</span>
</a>
