---
import clsx from 'clsx';
import Avatar from './Avatar.astro';
import Menu from './Menu.astro';
import IconButton from './IconButton.astro';
import Input from './Input.astro';

const notifications = [
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="7" r="5"/><path d="M17 22H5.266a2 2 0 0 1-1.985-2.248l.39-3.124A3 3 0 0 1 6.649 14H7"/><path d="M19 13v6"/><path d="M16 16h6"/></svg>,
    title: 'New user registered',
    type: 'success',
    time: '2 min ago',
  },
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3.977 9.84A2 2 0 0 1 5.971 8h12.058a2 2 0 0 1 1.994 1.84l.803 10A2 2 0 0 1 18.833 22H5.167a2 2 0 0 1-1.993-2.16l.803-10z"/><path d="M16 11V6a4 4 0 0 0-4-4v0a4 4 0 0 0-4 4v5"/></svg>,
    title: 'New order received',
    type: 'info',
    time: '5 min ago',
  },
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M11.029 2.54a2 2 0 0 1 1.942 0l7.515 4.174a1 1 0 0 1 .514.874v8.235a2 2 0 0 1-1.029 1.748l-7 3.89a2 2 0 0 1-1.942 0l-7-3.89A2 2 0 0 1 3 15.824V7.588a1 1 0 0 1 .514-.874L11.03 2.54z"/><path d="M3 7l9 5m0 0l9-5m-9 5v9.5"/><path d="M7.5 9.5l9-5"/><path d="M6 12.328L9 14"/></svg>,
    title: 'Order #R-2384 need to be processed',
    type: 'warning',
    time: '14 min ago',
  },
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M8 9.05v-.1"/><path d="M16 9.05v-.1"/><path d="M16 16c-.5-1.5-1.79-3-4-3s-3.5 1.5-4 3"/></svg>,
    title: 'Order #R-2157 just got a bad review',
    type: 'danger',
    time: '18 min ago',
  },
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 17h6V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v10a1 1 0 0 0 1 1h1"/><path d="M22 16v-4a4 4 0 0 0-4-4h-2v9h5a1 1 0 0 0 1-1z"/><path d="M15 17a3 3 0 1 0 6 0h-6z"/><path d="M22 14h-2"/><circle cx="7" cy="17" r="3"/></svg>,
    title: 'Order #R-2206 is completed',
    type: 'success',
    time: '25 min ago',
  },
];

const notificationColor = {
  'success': 'bg-success-100 text-success-800',
  'warning': 'bg-warning-100 text-warning-800',
  'danger': 'bg-danger-100 text-danger-800',
  'info': 'bg-info-100 text-info-800',
}

const userMenu = [
  [
    {
      icon: '<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="7" r="5"/><path d="M17 14h.352a3 3 0 0 1 2.976 2.628l.391 3.124A2 2 0 0 1 18.734 22H5.266a2 2 0 0 1-1.985-2.248l.39-3.124A3 3 0 0 1 6.649 14H7"/></svg>',
      label: 'Profile',
      href: '/profile',
    },
    {
      icon: '<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 3.269C14 2.568 13.432 2 12.731 2H11.27C10.568 2 10 2.568 10 3.269v0c0 .578-.396 1.074-.935 1.286-.085.034-.17.07-.253.106-.531.23-1.162.16-1.572-.249v0a1.269 1.269 0 0 0-1.794 0L4.412 5.446a1.269 1.269 0 0 0 0 1.794v0c.41.41.48 1.04.248 1.572a7.946 7.946 0 0 0-.105.253c-.212.539-.708.935-1.286.935v0C2.568 10 2 10.568 2 11.269v1.462C2 13.432 2.568 14 3.269 14v0c.578 0 1.074.396 1.286.935.034.085.07.17.105.253.231.531.161 1.162-.248 1.572v0a1.269 1.269 0 0 0 0 1.794l1.034 1.034a1.269 1.269 0 0 0 1.794 0v0c.41-.41 1.04-.48 1.572-.249.083.037.168.072.253.106.539.212.935.708.935 1.286v0c0 .701.568 1.269 1.269 1.269h1.462c.701 0 1.269-.568 1.269-1.269v0c0-.578.396-1.074.935-1.287.085-.033.17-.068.253-.104.531-.232 1.162-.161 1.571.248v0a1.269 1.269 0 0 0 1.795 0l1.034-1.034a1.269 1.269 0 0 0 0-1.794v0c-.41-.41-.48-1.04-.249-1.572.037-.083.072-.168.106-.253.212-.539.708-.935 1.286-.935v0c.701 0 1.269-.568 1.269-1.269V11.27c0-.701-.568-1.269-1.269-1.269v0c-.578 0-1.074-.396-1.287-.935a7.755 7.755 0 0 0-.105-.253c-.23-.531-.16-1.162.249-1.572v0a1.269 1.269 0 0 0 0-1.794l-1.034-1.034a1.269 1.269 0 0 0-1.794 0v0c-.41.41-1.04.48-1.572.249a7.913 7.913 0 0 0-.253-.106C14.396 4.343 14 3.847 14 3.27v0z"/><path d="M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/></svg>',
      label: 'Settings',
      href: '#',
    }
  ],
  [
    {
      icon: '<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 12h9m0 0l-3.333-4M22 12l-3.333 4"/><path d="M14 7V5.174a2 2 0 0 0-2.166-1.993l-8 .666A2 2 0 0 0 2 5.84v12.32a2 2 0 0 0 1.834 1.993l8 .667A2 2 0 0 0 14 18.826V17"/></svg>',
      label: 'Log out',
      href: '/auth/login',
    }
  ]
];
---

<nav class="sticky top-0 z-10 w-full px-6 py-3 bg-white border-b border-gray-300">
  <div class="flex items-center gap-x-4">
    <div class="flex items-center flex-1 gap-x-3">
      <IconButton x-bind="sidebarButton" x-ref="sidebarButton">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 6h14M5 12h14M5 18h14"/></svg>
        <span class="sr-only">Toggle sidebar</span>
      </IconButton>
      <Input type="search" placeholder="Search" className="hidden sm:flex sm:w-full md:w-2/3 lg:w-1/2" leading={<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5 sm:w-4 sm:h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z" /></svg>}/>
    </div>
    <div class="flex items-center ml-auto gap-x-3">
      <div x-data="popover" x-bind="popover" class="relative">
        <IconButton x-bind="popoverButton" x-ref="popoverButton">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12.721 5.003L11.255 5c-3.344-.008-6.247 2.709-6.27 6v3.79c0 .79-.1 1.561-.531 2.218l-.287.438C3.73 18.11 4.2 19 4.985 19h14.03c.785 0 1.254-.89.818-1.554l-.287-.438c-.43-.657-.531-1.429-.531-2.219v-3.788c-.04-3.292-2.95-5.99-6.294-5.998z"/><path d="M15 19a3 3 0 1 1-6 0"/><path d="M12 2a2 2 0 0 1 2 2v1h-4V4a2 2 0 0 1 2-2z"/></svg>
          <span class="sr-only">Toggle notifications</span>
        </IconButton>
        <div
          x-bind="popoverPanel"
          x-cloak
          x-transition
          class="fixed right-0 w-full h-full p-1 mt-4 overflow-y-auto bg-white shadow outline-none sm:mt-3 sm:rounded-lg sm:h-56 sm:absolute sm:w-72"
        >
          {notifications.map(item => (
            <a href="#" class="flex items-center p-3 rounded-lg outline-none focus:ring-2 focus:z-10 focus:relative ring-primary-600 hover:bg-gray-50">
              <span class={clsx('block p-3 rounded-lg', notificationColor[item.type])}>{item.icon}</span>
              <span class="flex flex-col ml-3">
                <span class="font-medium leading-tight text-gray-700">{item.title}</span>
                <span class="mt-1 text-gray-500">{item.time}</span>
              </span>
            </a>
          ))}
        </div>
      </div>
      <Menu items={userMenu}>
        <button x-bind="menuButton" x-ref="menuButton" class="transition-transform outline-none group active:scale-90">
          <Avatar src="https://randomuser.me/api/portraits/women/17.jpg" alt="Lisa Greyrat" />
        </button>
      </Menu>
    </div>
  </div>
</nav>
