---
import IconButton from './IconButton.astro';
import Logo from './Logo.astro';
import SidebarHeading from './SidebarHeading.astro';
import SidebarItem from './SidebarItem.astro';

const menu = [
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 20v-7.826a4 4 0 0 0-1.253-2.908l-7.373-6.968a2 2 0 0 0-2.748 0L3.253 9.266A4 4 0 0 0 2 12.174V20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2z"/></svg>,
    label: 'Dashboard',
    href: '/'
  },
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="10" width="18" height="12" rx="2"/><path d="M6 10V5a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3v1"/></svg>,
    label: 'Auth',
    items: [
      {
        label: 'Login',
        href: '/auth/login'
      },
      {
        label: 'Register',
        href: '/auth/register'
      },
      {
        label: 'Forgot Password',
        href: '/auth/forgot-password'
      },
      {
        label: 'Email Verification',
        href: '/auth/email-verification'
      }
    ],
  },
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7" rx="1"/><rect x="3" y="14" width="7" height="7" rx="1"/><rect x="14" y="3" width="7" height="7" rx="1"/><rect x="14" y="14" width="7" height="7" rx="1"/></svg>,
    label: 'Miscellaneous',
    items: [
      {
        label: 'Blank',
        href: '/blank'
      },
      {
        label: '404',
        href: '/404'
      },
    ]
  },
  {
    icon: <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16.719 19.752l-.64-5.124A3 3 0 0 0 13.101 12h-2.204a3 3 0 0 0-2.976 2.628l-.641 5.124A2 2 0 0 0 9.266 22h5.468a2 2 0 0 0 1.985-2.248z"/><circle cx="12" cy="5" r="3"/><circle cx="4" cy="9" r="2"/><circle cx="20" cy="9" r="2"/><path d="M4 14h-.306a2 2 0 0 0-1.973 1.671l-.333 2A2 2 0 0 0 3.361 20H7"/><path d="M20 14h.306a2 2 0 0 1 1.973 1.671l.333 2A2 2 0 0 1 20.639 20H17"/></svg>,
    label: 'Users',
    href: '/users'
  },
];
---

<div
  x-bind="sidebarOverlay"
  class="fixed top-0 left-0 z-20 w-full h-full lg:hidden bg-gray-800/80"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
/>
<aside
  x-bind="sidebarMenu"
  x-ref="sidebarMenu"
  class="fixed top-0 left-0 z-20 w-full h-full pt-5 bg-white border-gray-300 sm:w-64 lg:border-r"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="-translate-x-full sm:-translate-x-64"
  x-transition:enter-end="translate-x-0"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="translate-x-0"
  x-transition:leave-end="-translate-x-full sm:-translate-x-64"
>
  <IconButton x-bind="sidebarClose" noHover className="lg:hidden absolute top-4 right-4 sm:-right-12 sm:text-white">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 20L4 4m16 0L4 20"/></svg>
    <span class="sr-only">Close sidebar</span>
  </IconButton>
  <div class="text-center">
    <Logo className="text-xl px-6" />
  </div>
  <nav aria-label="Sidebar" class="h-full pl-6 pr-3 mt-5 overflow-y-auto">
    <ul class="pb-6 font-medium text-gray-400">
      <SidebarHeading>Main Menu</SidebarHeading>
      {menu.map(({icon, label, href, items}) => (
        <SidebarItem href={href} items={items}>
          <span class="flex items-center">{icon} {label}</span>
        </SidebarItem>
      ))}
    </ul>
  </nav>
</aside>