---
import Button from './Button.astro';
---

<div class="flex items-center justify-between md:hidden">
  <Button>Previous</Button>
  <span class="hidden sm:block">Showing 11 to 20 of 100 results</span>
  <Button>Next</Button>
</div>