---
import Button from '$components/Button.astro';
import ContentSection from '$components/ContentSection.astro';
import ContentSectionTitle from '$components/ContentSectionTitle.astro';
import Textbox from '$components/Textbox.astro';
---
<ContentSection id="update-password" className="pt-8">
  <div>
    <ContentSectionTitle>Update Password</ContentSectionTitle>
    <p class="text-gray-500">
      Ensure your account is using a long, random password to stay secure.
    </p>
  </div>
  <form action="/profile" class="space-y-4">
    <Textbox
      label="Current Password"
      name="current_password"
      type="password"
      placeholder="Enter current password"
    />
    <Textbox
      label="New Password"
      name="password"
      type="password"
      placeholder="Enter new password"
    />
    <Textbox
      label="Confirm Password"
      name="password_confirmation"
      type="password"
      placeholder="Enter password confirmation"
    />
    <div class="flex justify-end">
      <Button>Save</Button>
    </div>
  </form>
</ContentSection>