---
import clsx from 'clsx';
import BaseHead from '$components/BaseHead.astro';
import Logo from '$components/Logo.astro';

const { title, background, right = false } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title}/>
  </head>
  <body style={`background-image: url('${background}')`} class="text-sm antialiased font-medium bg-cover lg:overflow-y-auto">
    <div class={clsx('flex flex-col w-full h-full min-h-screen px-6 sm:px-24 pt-8 pb-6 bg-white md:w-4/5 lg:w-1/2', {'ml-auto': right})}>
      <div class="w-full h-full mx-auto xl:w-4/5 2xl:w-[32rem] flex flex-col items-center md:items-start">
        <Logo className="text-2xl"/>
        <h1 class="mt-12 text-2xl font-bold text-gray-700">{title}</h1>
        <main class="w-full mb-16">
          <slot />
        </main>
      </div>
      <footer class="w-full h-full mx-auto mt-auto xl:w-4/5 2xl:w-[32rem]">
        <p class="text-center text-gray-500 md:text-left">© 2021 all rights reserved</p>
      </footer>
    </div>
    <script type="module" src="{Astro.resolve('../scripts/main.js')}"></script>
  </body>
</html>
