---
import AppLayout from '$layouts/AppLayout.astro';
import Button from '$components/Button.astro';
import DataCounter from '$components/DataCounter.astro';
import Pagination from '$components/Pagination.astro';
import SmallPagination from '$components/SmallPagination.astro';
import CreateUserDialog from './_components/CreateUserDialog.astro';
import Filter from './_components/Filter.astro';
import Order from './_components/Order.astro';
import Table from './_components/Table.astro';
---

<AppLayout
  title="Users"
  x-data={`{userModalOpen: false}`}
  x-init="$watch('userModalOpen', (value) => value === true ? $nextTick(() => document.querySelector('[role=dialog]').querySelector('button:not([data-close=true]), [href], input, select, textarea').focus()) : null)"
>
  <Button slot="action" color="primary" @click="userModalOpen = true">Create User</Button>
  <div class="grid gap-y-8 sm:pb-6">
    <div class="space-y-4">
      <Filter />
      <div class="items-center justify-between space-y-1 sm:flex">
        <DataCounter active={2} count={50} />
        <Order />
      </div>
    </div>
    <Table />
    <div class="hidden sm:flex">
      <Pagination active={2} count={50} className="mx-auto" />
    </div>
    <div class="block sm:hidden">
      <SmallPagination />
    </div>
  </div>
  <CreateUserDialog />
</AppLayout>
